:root {
  font-family: Pretendard, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;

  color: #313131;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* font family */
  --font-thin: PretendardThin, sans-serif;
  --font-light: PretendardLight, sans-serif;
  --font-regular: Pretendard, sans-serif;
  --font-medium: PretendardBold, sans-serif;
  --font-bold: PretendardExtraBold, sans-serif;

  /* bootstrap style override */
  button {
    border-radius: unset;
  }
}
